<.header>
  User <%= @user.name %>
  <:subtitle>This is a users record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/members/#{@user}/edit"}>
      <.button>Edit user</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @user.name %></:item>
  <:item title="Email"><%= @user.email %></:item>
</.list>

<.back navigate={~p"/members"}>Back to members</.back>
